<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Homepage'}) %>
    <body>
        <%- include('partials/header') %>
        <div class="message-details">
            <h2><%= user %>:</h2>
            <p><%= message %></p>
            <p><em>Message sent at <%= date %></em></p>
            <button data-id="<%= id %>">DELETE</button>
        </div>
        <%- include('partials/footer') %>
    </body>
    <script>
        const button = document.querySelector("button");
        const address = `/messages/${button.dataset.id}`;

        button.addEventListener("click", () => {
            fetch(address, { method: "DELETE" })
                .then(response => response.json())
                .then(response => (window.location.href = response.redirect));
        });
    </script>
</html>
