<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Homepage'}) %>
    <body>
        <%- include('partials/header') %>
        <ul class="messages-container">
            <% messages.forEach(message => { %>
            <a href="messages/<%= message.id %>" class="message-card">
                <li>
                    <h4><%= message.user %></h4>
                    <p><%= message.message %></p>
                </li>
            </a>
            <% }) %>
        </ul>
        <button class="create-btn"><a href="/messages/create">NEW MESSAGE </a></button>
        <%- include('partials/footer') %>
    </body>
</html>
