<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Homepage'}) %>
    <body>
        <%- include('partials/header') %>
        <h3>MESSAGES</h3>
        <ul>
            <% messages.forEach(message => { %>
            <li>
                <h4><a href="messages/<%= message.id %>"><%= message.user %> </a></h4>
                <p><%= message.message %></p>
            </li>
            <% }) %>
        </ul>
        <button><a href="/messages/create">CREATE </a></button>
        <%- include('partials/footer') %>
    </body>
</html>
